{% extends "base.html" %}
{% block content %}

<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">
                                <div id="sidebox"><a href="{{ url_for('home') }}"><h2>Back to search</h2></a></div>
								<header class="major"><h2>Multiple games found</h2></header>
								<p>Multiple items were found in the console database matching your search terms. Please select from the below:</p>
								<form action="{{ url_for('select') }}" method="POST" style="color: white;">
											<select name="console" style="display: none;">
												<option value="{{ console }}">{{ console }}</option>
											</select>
											<label style="color: white;">Choose game: </label>
											<select name="game">
												{% for match in matches %}
												<option value="{{ match }}">{{ match }}</option>
												{% endfor %}
											</select>
											<br>
											<button type="submit">Select game</button>
										</form>
							</section>

					</div>

{% endblock %}