{% extends "base.html" %}
{% block content %}

				<!-- Main -->
					<div id="main">

						<!-- Content -->

							<section id="content" class="main">
								<div id="rcorners3">
										<header class="major special"><h2>Enter search parameters</h2></header>

										<form action="{{ url_for('snipe_upcoming_auctions') }}" method="POST" style="color: white;">
											<label style="color: white;">Search auctions ending in the next: </label>
											<input type="radio" name="time" value="5" id="5-mins" onclick="hideOtherTime()" required>
                                            <label for="5-mins">5 minutes</label>
                                            <input type="radio" name="time" value="15" id="15-mins" onclick="hideOtherTime()">
                                            <label for="15-mins">10 minutes</label>
											<input type="radio" name="time" value="" id="other-time" onclick="revealOtherTime()">
											<label for="other-time">Other</label>
											<div style="display: none;" class="time-text">
											<input type="text" name="time-other">
                                            </div>
											<br>
											<label style="color: white;">Show auctions with a price differential greater than: </label>
                                            <input type="radio" name="differential" value="10" id="10-pct" onclick="hideOtherDiff()" required>
                                            <label for="10-pct">10%</label>
                                            <input type="radio" name="differential" value="20" id="20-pct" onclick="hideOtherDiff()">
                                            <label for="20-pct">20%</label>
											<input type="radio" name="differential" value="" id="other-diff" onclick="revealOtherDiff()">
											<label for="other-diff">Other</label>
											<div style="display: none;" class="diff-text">
											<input type="text" name="diff-other">
                                            </div>
											<br>

											<p id="expand" style="cursor: pointer">More options</p>
<!--											hidden options default to > 0 results and either mean / median-->
											<div style="display: none;" class="more-options">

												<p>Limit results to games with minimum
													<select name="number-results" style="display:inline; width:auto;">
														<option value="0" selected>-</option>
														<option value="5">5</option>
														<option value="10">10</option>
														<option value="15">15</option>
													</select>
													results.
												</p>

												<br>
												<p>Require price differential with
													<select name="average-compare" style="display: inline; width: auto;">
														<option value="both" selected>both</option>
														<option value="either">either</option>
														<option value="mean">mean</option>
														<option value="median">median</option>
														</select>
													value.
												</p>
											</div>
											<button type="submit" onclick="loading()">Search auctions</button>
										</form>
									<div class="loading" style="display: none; text-align: center;">
										<img src="/static/images/Spinner-1s-151px.gif">
									</div>
                                </div>

							</section>

					</div>

				<script>
				function revealOtherTime() {
							const x = document.querySelector("div.time-text");
							x.style.display = "block";
						}
				function revealOtherDiff() {
							const x = document.querySelector("div.diff-text");
							x.style.display = "block";
						}
				function hideOtherTime() {
							const x = document.querySelector("div.time-text");
							x.style.display = "none";
						}
				function hideOtherDiff() {
							const x = document.querySelector("div.diff-text");
							x.style.display = "none";
						}

				const y = document.getElementById("expand");
				y.onclick = revealOptions;
				function revealOptions() {
					const x = document.querySelector("div.more-options");
					if (x.style.display === "none") {
						x.style.display = "block";
					} else {
						x.style.display = "none";
					}
				}

				function loading() {
							const time = document.getElementsByName("time");
							const differential = document.getElementsByName("differential");
							console.log(time)
							if ($('input[name=time]:checked').length > 0 && ('input[name=differential]:checked').length > 0) {
								const x = document.querySelector("div.loading");
								x.style.display = "block";
							}
						}
			</script>

{% endblock %}