{% extends "base.html" %}
{% block content %}

<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#common" class="active">Most common</a></li>
							<li><a href="#highest">Highest value</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="common" class="main">
							<div id="sidebox"><a href="{{ url_for('home') }}"><h2>Back to homepage</h2></a></div>
								<br>
								<header class="major special"><h2>Most common</h2></header>
								<div class="console-select">
									<a href="#gamecube-common">Gamecube</a><a href="#ps2-common">PS2</a>
									<a href="#ps3-common">PS3</a><a href="#ps4-common">PS4</a>
									<a href="#xbox_360-common">Xbox 360</a><a href="#xbox_one-common">Xbox One</a>
								</div>
								<br>
								{% for console in consoles.keys() %}
								<h2 id="{{ console }}-common">{{ consoles[console] }}</h2>
								<table>
									<tr>
										<th>Game</th>
										<th>Number of sales</th>
										<th>View results</th>
									</tr>
								{% for key, value in most_common[console].items() %}
								<tr>
									<td>{{ key }}</td>
									<td>{{ value }}</td>
									<td><a href="{{ url_for('search_top', console=console, game=key) }}">Search game</a></td>
								</tr>
								{% endfor %}
								</table>
								{% endfor %}
							</section>

						<section id="highest" class="main">
							<header class="major special"><h2>Highest value</h2></header>
							<div class="console-select">
									<a href="#gamecube-highest">Gamecube</a><a href="#ps2-highest">PS2</a>
									<a href="#ps3-highest">PS3</a><a href="#ps4-highest">PS4</a>
									<a href="#xbox_360-highest">Xbox 360</a><a href="#xbox_one-highest">Xbox One</a>
								</div>
							<br>
							{% for console in consoles.keys() %}
							<h2 id="{{ console }}-highest">{{ consoles[console] }}</h2>
							<table>
									<tr>
										<th>Game</th>
										<th>Sale price</th>
										<th>Auction link</th>
									</tr>
								{% for row in highest_value[console] %}
									<tr>
										<td>{{ row[0] }}</td>
										<td>£{{ row[1] }}</td>
										<td><a href="https://ebay.co.uk/itm/{{ row[2] }}" target="_blank">{{ row[2] }}</a></td>
									</tr>
								{% endfor %}
							</table>
							{% endfor %}
						</section>

					</div>

{% endblock %}